streamlit
python-dotenv
youtube-transcript-api
yt-dlp
imageio-ffmpeg
faster-whisper
ctranslate2
av
llama-cpp-python
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
huggingface-hub
torchvision
requests
